.modal_paragraphs{
	text-align:left;
}
.legalese_modal{
	margin: auto;
	width: 60%;
	border: 3px solid rgb(246, 103, 56);
	padding: 20px;
}
.legalese_modal h2, .legalese_modal p{
	text-align:center;
	color:white;
}
.legalese_modal h2 {
	margin-top: 24px;
	margin-bottom: 48px;
}
#modal_ul{
	position:relative;
	padding: 10px;
	left:5px;
}
