/*************************/
/* START TEMPLATE STYLES */
/*************************/

	html, body {
		width:100%;
	}
	body {
		background-color: rgb(242, 242, 242);
		font-family: Arial;
	}
	/* Change background color of links on hover */
	.menuitems li a:hover {
		color: rgb(33, 65, 149);  /* dark blue */
	}
	.hrstyle {
		margin-left: 10px;
		margin-right: 10px;
	}
	/* all of our rows' paragraphs are
		default aligned to center */
	.row p {
		text-align:center;
	}
	/* all of our articles acting as descriptions are aligned left */
	.articles article {
		text-align: left;
	}
	.after {
		background: rgba(0,0,0,0.75);
	}

/*************************/
/* END TEMPLATE STYLES */
/*************************/


/****************/
/* START: Fonts */
/****************/

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Roboto', sans-serif;
	}
	.who_we_are p, li, body p {
		font-family: 'Raleway', sans-serif;
	}

/**************/
/* END: Fonts */
/**************/


/****************************/
/* START: Navheader Styling */
/****************************/

	/* Hide the list item that contains the link that should open and close the topnav on small screens */
	@media only screen and (max-width: 1200px) {
		.menuitem, .topNavDonateButtons {
			visibility: hidden;
		}
		.icon {
			visibility: hidden;
		}
		.hamburger {
			visibility: visible;
		}
	}

	@media screen and (min-width: 1201px) {
		.hamburger {
			visibility: hidden;
		}
		.dropdownOverlay {
			visibility: hidden;
		}
	}

	/* set default header height */
	header {
		height: 75px;
		z-index: 2;
	}
	/* set default header logo width and height */
	header img {
		height: 60px;
	}
	/* align logo vertically with the box it sits in */
	header .logo {
		position:relative;
		margin-top:7px;
	}
	/* align hamburger menu more closely with the right side of the screen */
	header .hamburger {
		position: absolute;
		right:12px;
		top:12px;
		width:50px;
		height: 50px;
		border-radius: 50%;
		transition: .4s ease;
	}
	header .topNavDonateButtons {
		float: right;
		right: 9px;
		top: 9px;
		border-width: 2px;
		border-color: rgb(255,255,255);
		border-style: outset;
		margin-right: 6px;
		background-color: crimson;
	}
	header .hamburger:hover {
		background-color: rgb(250, 108, 51);
		cursor: pointer;
	}
	/* align header elements and move navbar into a row */
	header ul {
		display: inline;
		list-style: none;
		top: 20px;
	}
	header li {
		vertical-align: middle;
		display: inline;
		cursor: pointer;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: -20px;
	}
	/* remove hyperlink decoration from links */
	header a {
		text-decoration: none;
	}
	.header {
		position: fixed;
		width: 100%;
		top: 0;
		background-color: rgb(242, 242, 242);
		border-bottom: 4px solid rgb(250,130,30);
	}
	.menuitem {
		font-size: 18px;
		left:65px;
		top: 5px;
		position: relative;
		/* disables selection of the menu text */
		-webkit-user-select: none; /* Chrome/Safari */
		-moz-user-select: none; /* Firefox */
		user-select: none;
		-ms-user-select: none; /* IE10+ */
		border-radius: 7%;
		border-bottom: 7px;
		border-color: rgb(242, 242, 242);
		padding-bottom: 15px;
		padding-top: 15px;
		border-style: none none solid none;
	}
	.menuitem button:hover {
		color:black;
	}
	/* query is for when screen width is less than 775px
		while it's true, we want to:
			1 center our logo,
			2 make the header taller, so that we can...
			3 center the navbar links below the logo.
	*/
	@media only screen and (max-width: 775px) {
		/* make header taller */
		header {
			opacity: 1;
		}
		header li {
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	/* When the screen is super small we want the same thing as above but taller
	*/
	@media only screen and (max-width: 385px) {
		header {
			opacity: 1;
		}
		header li {
			text-align: center;
		}
	}

/**************************/
/* END: Navheader Styling */
/**************************/


/****************************/
/* START: Header Alignments */
/****************************/

	.dropdownButtons {
		list-style:inherit;
		margin-top: 20px;
		margin-left: 26px;
		border-width: 2px;
		border-color: rgb(255,255,255);
		border-style: outset;
	}
	.thedropdown {
		display: table;
		margin: 0 auto;
	}
	.dropdownOverlay {
		display:none;
		position:fixed;
		z-index: 1;
		margin-top: 75px;
		top:75px;
		margin:0;
		width:100%;
		background-color: rgb(242, 242, 242);
		background-color: rgba(242, 242, 242, 1);
		transition: .5s ease;
	}
	.myDropdown {
		display: block;
		list-style: none;
		position:relative;
		font-size: 26px;
		transition: .5s ease;
	}
	.dropdown_menuitem {
		list-style-type: none;
		padding-top: 8px;
		margin-top: 10px;
		position: static;
		text-align: center;
		cursor: pointer;
		border-bottom: 7px;
		border-style: none none solid none;
		width: 100%;
		border-radius: 7%;
		border-color: rgb(242, 242, 242);
		border-color: rgba(242, 242, 242, 0);
	}
	.content {
		position: relative;
		top: 50px;
		color:white;
	}

/*************************/
/* END: Header Alignment */
/*************************/


/*********************/
/* START: index.html */
/*********************/

	/********************/
	/* START: Jumbotron */
	/********************/

		#jumbotron-container {
			margin-top: 70px;
		}
		#jumbotron {
			background-color: rgb(250,250,252);
			border: 3px solid rgb(248,152,72);
			margin-top: 3px;
		}

	/******************/
	/* END: Jumbotron */
	/******************/

	/*****************************/
	/* START: Distribution Event */
	/*****************************/

		#distribution-section {
			top: 50px;
			width: 100%;
			border: 3px solid rgb(22,22,148);
		}
		#distribution-section h1 {
			margin-top: 70px;
			margin-bottom: 48px;
		}
		#distribution-section h1, #distribution-section div div {
			text-align: center;
		}
		#distribution-section iframe {
			margin-top: 48px;
		}
		#distribution-section div div {
			margin-top: 24px;
		}
		#distribution-section div {
			text-align: center;
			left: 20px;
		}
		#distribution-section div img {
			border: 1px solid black;
		}
		#distribution-section div h3 {
			text-align: center;
		}
		#distribution-section div p {
			padding-left: 35px;
			position: relative;
			text-align: left;
		}
		#distribution-section h3, #distribution-section h5 {
			text-align: left;
		}
		#distribution-section div div p {
			text-align: left;
			max-width: 800px;
			margin-right: 40px;
			margin-top: 24px;
			margin-bottom: 70px;
		}
		#distribution-section div div a button {
			bottom: 30px;
		}
		.distribution-map {
			border: 1px solid rgb(55,55,55);
			bottom: 45px;
			position: relative;
			text-align: center;
		}
		#distribution-spotlight-lmf h3, #distribution-spotlight-lmf p {
			margin-top: 24px;
			margin-bottom: 24px;
		}
		#distribution-spotlight-lmf-img img, #distribution-spotlight-lmf-img {
			margin-bottom: 48px;
		}

	/***************************/
	/* END: Distribution Event */
	/***************************/


	/****************************/
	/* START: Sponsor Container */
	/****************************/

		#sponsor-container {
			border: 3px solid rgb(111,111,111);
			margin: 0 auto;
		}
		#sponsor-container div {
			margin-bottom: 15px;
			width: 100%;
		}
		#sponsor-container div h4 {
			text-align: center;
			margin-top: 48px;
			margin-bottom: 48px;
		}
		.sponsorship-container-section {
			border: 2px solid rgb(155,155,170);
			height: 200px;
			width: 85%;
			margin-top: 0px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 24px;
		}
		.sponsorship-container-section img {
			position: relative;
			vertical-align: middle;
			margin: 0 auto;
			padding: 5px;
			height: 100%;
		}
		.sponsorship-container-section div {
			display: inline-block;
			width: auto;
			position: relative;
		}
		.sponsorship-container-section div img:hover {
			opacity: .25;
		}
		#concentra-logo {
			width: 100%;
		}

	/**************************/
	/* END: Sponsor Container */
	/**************************/


	/******************************************/
	/* START: Generic Social Media Alignments */
	/******************************************/

		.sm-circles img {
			height:40%;
			width:40%;
		}
		.sm-circles {
			user-select:none;
			position:relative;
			margin-top: 0px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 72px;
			cursor: pointer;
		}
		.social-media-icons {
			height: 40%;
			width: 40%;
			margin-left :42px;
			margin-top: 16px;
			margin-bottom:24px;
		}
		.social-media-text {
			font-size: 16px;
			font-weight: normal;
			padding: 3px;
			text-align: center;
			font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		}
		#social-media-container {
			border: 4px solid rgb(250,130,30);
		}
		#social-media-container > h3 {
			text-align: center;
			margin-top: 48px;
			margin-bottom: 48px;
		}

	/****************************************/
	/* END: Generic Social Media Alignments */
	/****************************************/


	/***********************************/
	/* START: Story Circles/Who We Are */
	/***********************************/

		#story-circle-container {
			border: 4px solid rgb(44,84,165);
			text-align: center;
			height: auto;
		}
		.story-circles {
			border-radius: 50%;
			width: 140px;
			height: 140px;
			margin-top: 48px;
			margin-bottom: 24px;
			margin-left: auto;
			margin-right: auto;
		}
		.story-p {
			max-width: 650px;
			text-align: left;
			margin-top: 0px;
			margin-right: auto;
			margin-bottom: 96px;
			margin-left: auto;
		}
		.who_we_are_self {
			max-width: 1000px;
		}
		.story-circles:hover {
			opacity:.5;
		}
		.sm-circles {
			border-radius:50%;
			border-width: 1px;
			border-style: double;
			border-color: rgb(48, 158, 203);
			background-color: rgb(76, 206, 251);
			width:150px;
			height:150px;
			margin:0 auto;
			transition: .2s all;
		}

		@media only screen and (max-width: 640px) {
			.distribution-map{
				width: 300px;
				height: 225px;
			}
		}
		@media only screen and (min-width: 640px) and (max-width: 10000px) {
			.distribution-map{
				width: 500px;
				height: 375px;
			}
		}

	/*********************************/
	/* END: Story Circles/Who We Are */
	/*********************************/


	/*******************/
	/* START: Carousel */
	/*******************/

		/* Fading animation */
		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			-moz-animation-name: fade;
			-moz-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
		}
		.mySlides {
			margin: 10px 0px;
			border: 1px solid #000000;
		}

	/*****************/
	/* END: Carousel */
	/*****************/


	/*************************/
	/* START: Featured Quote */
	/*************************/

		#index-quote-wrapper {
			background-color: black;
			text-align:center;
			margin: 0 auto;
		}
		#index-quote-self {
			text-align:left;
			margin: 24px auto;
		}
		#index-quote-self h4 {
			position: relative;
			text-align: center;
			color: rgb(242,242,246);
			text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		}

	/***********************/
	/* END: Featured Quote */
	/***********************/


	/*******************************/
	/* START: Why Donate Container */
	/*******************************/

		#why-donate-container {
			width: 100%;
			max-width: 100%;
			border: 3px solid rgb(248, 112, 69);
		}
		#why-donate-content {
			margin-top: 48px;
		}
		#why-donate-content h1 {
			text-align: center;
			margin-top: 24px;
			margin-bottom: 48px;
		}
		#why-donate-content p, #why-donate-content div p {
			margin: 0 auto;
			max-width: 900px;
			text-align: left;
		}
		#why-donate-content div:first-child {
			margin-bottom: 48px;
		}
		#why-donate-content > p {
			margin-bottom: 70px;
		}
		.donateButtons {
			text-align: center;
		}
		.photoContainer img {
			width:494px;
			height:240px;
			position:relative;
			border: 1px solid rgb(55,55,55);
		}
		#whyDonatePhoto1 {
			margin-bottom: 24px;
		}
		#whyDonatePhoto2 {
			margin-top: 24px;
			margin-bottom: 72px;
		}

	/*****************************/
	/* END: Why Donate Container */
	/*****************************/
/*******************/
/* END: index.html */
/*******************/


/********************/
/* START: ourcause.html */
/********************/

	.ourcausetxt p {
		margin-left: 25px;
		max-width: 90%;
	}
	.brourcause {
		display: none;
	}
	.calkinsphoto {
		top: -95px;
		left: 235px;
		position: relative;
		width: 60%;
	}
	.pyb_cmu_p{
		max-width: 950px;
	}

	@media only screen and (max-width: 1024px) {
		.ourcausetxt{
		  	margin-left: -30px;
		}
		.calkinsphoto {
		  	left: 30px;
		  	width: 450%;
		}
	}
	@media only screen and (max-width: 640px) {
		.ourcausetxt {
			max-width: 80%;
		}
		.calkinsphoto {
			width: 70%;
			top: -100px;
			left: 80px;
		}
	}

/******************/
/* END: ourcause.html */
/******************/


/**************************/
/* START: leadership.html */
/**************************/

	.staff_name {
		text-align: center;
		padding-top: 15px;
	}
	.staff_title {
		color: #454545;
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		padding-bottom: 20px;
	}
	.staff_pics {
		height: 150px;
		width: 150px;
		border-radius: 20%;
		border: 2px solid #000000;
	}
	.padding {
		padding: inherit inherit;
	}
	.lead_headers {
		padding-top: 40px;
		padding-bottom: 25px;
	}
	.directors {
		padding-left: inherit;
		padding-right: inherit;
	}

/************************/
/* END: leadership.html */
/************************/


/****************************/
/* START: distributions.php */
/****************************/

	.distribution_p {
		max-width: 800px;
		text-align: left;
	}

/**************************/
/* END: distributions.php */
/**************************/


/*************************************/
/* START: menu.js .hover conversions */
/*************************************/

	.menuitem a:hover {
		border-bottom: 7px;
		border-color: rgb(48, 88, 164);
		transition : .2s all;
		border-style: none none solid none;
	}
	.menuitem a:not(:hover) {
		border-bottom : 7px;
		border-color : rgb(242, 242, 242);
		border-style: none none solid none;
		transition : .2s all;
	}
	.dropdown_menuitem:hover {
		border-bottom : 7px;
		border-color: rgb(48, 88, 164);
		border-color: rgba(48, 88, 164, 1);
		transition : .2s all;
		border-style: none none solid none;
	}
	.dropdown_menuitem:not(:hover) {
		border-bottom" : 7px;
		border-color" : rgb(242, 242, 242);
		border-color" : rgba(242, 242, 242, 0);
		border-style': none none solid none;
		transition" : .2s all;
	}
	.dropdownButtons:hover {
		border-width: 2px;
		border-color: rgb(48, 88, 164);
		transition: .2s all;
		border-style: outset;
	}
	.dropdownButtons:not(:hover) {
		border-width : 2px;
		border-color : rgb(255, 255, 255);
		border-style: outset;
		transition : .2s all;
	}

/***********************************/
/* END: menu.js .hover conversions */
/***********************************/
