body{
	margin: 0;
	padding: 0;
}
#holder{
	width: 980px;
	height: auto;
	margin: 21px auto 21px auto;
}
#header{
	height: 70px;
	background-image: url('../assets/pyb_row_270x70px.png');
	background-repeat: no-repeat;
	margin-bottom: 11px;
}
#navbar{
	height: 60px;
	background-color: rgb(13, 13, 13);
}
#content{
	height:auto;
	clear:both;
	overflow: auto;
}

#contentLeft{
	width: 280px;
	float:left;
	padding-left: 11px;
	padding-top: 11px;
}
#contentRight{
	width: 680px;
	float:right;
}
#contentHeading{
	height: auto;
	padding: 11px;

}
#footer{
	height:100px;
}

h1{
	margin: 0;
	font-family: Raleway, sans-serif;
	color: #666;
	font-weight: lighter;
}
h2{
	margin:0;
	font-family: Raleway, sans-serif;
	font-weight: lighter;
	color: #999;
}
h6{
	margin:0;
	margin:0;
	font-family: Raleway, sans-serif;
	font-weight: lighter;
	font-size: 14px;
	color: #444;
	padding-left: -6px;
}

#registerForm input{
	border: 1px solid #666;
	border-radius: 6px;
	width: 200px;
	height: 35px;

}