/* START LOGO/NAV STYLING */
	
	/* styling and formatting for logo/nav header */

	/* set default header height */
	header{
		height: 75px;
	}

	/* set default header logo width and height */
	header img{
/*		width: 200px;
*/		height: 60px;
	}

	/*align our logo vertically with the box it sits in */
	header #logo {
	  vertical-align: middle;
	}

	/* align header elements and move navbar into a row */
	header ul {
	  display: inline;
	  list-style: none;
	}
	header li {
	  vertical-align: middle;
	  display: inline;
	  cursor: pointer;
	  padding: 20px;
	  margin-left: -5px;
	}

	/* remove hyperlink decoration from links */
	header a {
	  text-decoration: none;
	}

	/* change color of navbar button when highlighted */
	header li:hover {
	  background: lightgrey;
	}

	/* query is for when screen width is less than 775px
		while it's true, we want to:
			1 center our logo,
			2 make the header taller, so that we can...
			3 center the navbar links below the logo.
	*/
	@media only screen and (max-width: 775px){

		/* center logo */
		#logo{
			text-align:center;
		}

		/* make header taller */
		header{
			height: 100px;
		}
	}

	/* this query is for when the screen is super small 
		basically we want the same thing as above but taller
	*/
	@media only screen and (max-width: 412px){

		#logo{
			text-align:center;
		}
		header{
			height: 110px;
		}
	}


/* END LOGO/NAV STYLING */


	/* declare social media circles */
	.sm_circles {
		border-radius: 50%;
		width: 100px;
		height: 100px; 

		background-color: skyblue;
	}

	/* style for social media icons */
	.sm_circles img{
		width:50px;
		height:50px;
		vertical-align: center;
		text-align:center;
		position:relative;
		top: 50px;
		left: 75px;
	}	

	/* declare story/mission/leadership circles */
	.story_circles{
		/*make our box into circles */
		border-radius: 50%;

		/*initialize a box */
		width: 150px;
		height: 150px; 

		/* color of story/mission/idea circles */
		background-color: lightblue;
	}	

	/* set h* and p fonts */
	h1, h2, h3, h4, h5, h6{ font-family: 'Roboto', sans-serif; }	

	p{ font-family: 'Open-Sans', sans-serif; }

	.row p{
		text-align:center;
	}
	.row article{
		text-align: left;
	}


	li{
		font-family: 'Raleway', sans-serif;
	}
	/*START: header alignments */

		/* align headers in center */
	.row h3, .row h2{
		text-align: center;
	}

	.footer h3{
		text-align: left;
	}

	#fcol_a li, #fcol_b li{
		text-align: left;
		list-style-type: none;
		margin: 10px 0 10px 0;
	}

/* START: index.html */

	/* START: Carousel */

		/* test stuff for carousel */
		* {box-sizing:border-box}

		/* Slideshow container */
		.slideshow-container {
			position: relative;
		}

		/* Caption text */
		.text {
			color: #f2f2f2;
			font-size: 15px;
			padding: 8px 12px;
			position: absolute;
			bottom: 8px;
			width: 100%;
			text-align: center;
		}

		/* Number text (1/3 etc) */
		.numbertext {
			color: #f2f2f2;
			font-size: 12px;
			padding: 8px 12px;
			position: absolute;
			top: 0;
		}

		/* The dots/bullets/indicators */
		.dot {
			height: 13px;
			width: 13px;
			margin: 0 2px;
			background-color: #bbb;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
		}

		.active {
			background-color: #717171;
		}

		/* Fading animation */
		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
		}

	/* END: Carousel */


	.leadership_articles p{
		text-align: left;
	}

	.story_circles:hover{
		opacity:.5;
	}


/* END: index.html */



/* START: ideas.html */

	/* style for ideas.html project paragraphs*/
/*	.project p{
		width: 100%;
		margin: 0 25px 25px 25px;
	}*/

	/* style for ideas.html project headers */
/*	.project_header{
		text-align: left;
		margin: 0 0 0 15px;
	}*/

/*END: ideas.html */



/* START: blog.html */

/*	#blog_header{
		text-align: left;
	}*/

/* END: blog.html */



/* START: leadership.html */

	/* leaders descriptions*/
/*	.leadership_articles{
		max-width: 960px;
		margin: 0 25px 0 25px;
		text-align: left;
	}*/

	/* row showcasing the leaders, two cols*/
/*	.leader_row{
		margin: 0 50px 0 50px;
	}*/

	/* side image for leadership initiatives */
/*	#side_image{
		float:center;
		margin-right:755px;
	}

	.side_box article{
		text-align: left;
	}*/	

/* END: leadership.html */




/* START: Footer;

	/* footer columns */
/*	#fcol_a{
		text-align:left;
		margin-left:30px;
	}*/
/*	#fcol_b{
		text-align:left;
		margin-left:70px;
	}*/

	/* styling footer buttons/copyright text */
/*	.button_row{
		margin: 40px;
	}*/

	/* declare footer size and color */
/*	.footer{
		background-color: white;
		width: 100%;
		height: 150px;
	}*/

/* END: Footer; */