 /* START TEMPLATE STYLING */

	/* set h*, li, and p fonts */
	h1, h2, h3, h4, h5, h6{ font-family: 'Roboto', sans-serif; }	

	p{ font-family: 'Open-Sans', sans-serif; }
	
	li{
		font-family: 'Raleway', sans-serif;
	}

	/* START LOGO/NAV STYLING */
	
		/* styling and formatting for logo/nav header */

		/* set default header height */
		header{
			height: 75px;
		}

		/* set default header logo width and height */
		header img{
			height: 60px;
		}

		/*align our logo vertically with the box it sits in */
		header #logo {
		  position:relative;
		  margin-top:7px;
		}

		/* align header elements and move navbar into a row */
		header ul {
		  display: inline;
		  list-style: none;
		  top: 20px;
		}
		header li {
		  vertical-align: middle;
		  display: inline;
		  cursor: pointer;
		  padding: 20px;
		  margin-left: -5px;
		}

		/* remove hyperlink decoration from links */
		header a {
		  text-decoration: none;
		}

		/* query is for when screen width is less than 775px
			while it's true, we want to:
				1 center our logo,
				2 make the header taller, so that we can...
				3 center the navbar links below the logo.
		*/
		@media only screen and (max-width: 775px){

			/* center logo */
			#logo{
				text-align:center;
			}

			/* make header taller */
			header{
				height: 100px;
			}
		}

		/* this query is for when the screen is super small 
			basically we want the same thing as above but taller
		*/
		@media only screen and (max-width: 420px){

			header li{
				margin-left: -10px;
			}
		}


	/* END LOGO/NAV STYLING */

	/* START SOCIAL MEDIA CIRCLES */
		/* declare social media circles */
		.sm_circles {
			border-radius: 50%;
			width: 100px;
			height: 100px; 

			background-color: skyblue;
		}

		/* style for social media icons */
		.sm_circles img{
			width:50px;
			height:50px;
			vertical-align: center;
			text-align:center;
			position:relative;
			top: 25px;
			margin-left: 25px;
		}	

		/* styling social media paragraph descriptions */
		.sm_circles p{
			position:relative; 
			top:50px; 
			font-size: 15px;

		}

	/* END SOCIAL MEDIA CIRCLES */


	/*START: HEADER ALIGNMENTS */

		/* align headers in center */
		.row h3, .row h2{
			text-align: center;
		}

		/* align all of our footer headers to the left*/
		#fcol_a h3, #fcol_b h3{
			text-align: left;
		}

		/* aligning our footer lists to the left,
			removing their bullet points, and
			giving them top and bottom margins for spacing */
		#fcol_a li, #fcol_b li{
			text-align: left;
			list-style-type: none;
			margin: 10px 0 10px 0;
		}	

	/* END HEADER ALIGNMENTS */


	/* all of our rows' paragraphs are 
		default aligned to center */
	.row p{
		text-align:center;
	}

	/* all of our articles acting as descriptions are aligned left */
	.articles article{
		text-align: left;
	}	

/* END TEMPLATING */

/* START index.html */




/* START: index.html */

	/* declare story/mission/leadership circles */
	.story_circles{
		/*make our box into circles */
		border-radius: 50%;

		/*initialize a box */
		width: 140px;
		height: 140px; 
		margin-left: 80px;

	}


	/*when the screen is between 505px and 910px (largest screen sizes),
		we want to move the story_circles to the left
	*/
	@media only screen and (min-width: 706px) and (max-width: 899px){
		.story_circles{
			margin-left: 60px;
		}
		.row .sm_features{
			width:100%;
		}
	}
	/* when the screen is in middle screen size, 
		- create line breaks between all blog posts
		- specially align the story circles with their descriptions
		- set the story_circle divs to be 100% of the width of the view
		- set the blog divs to be 100% of the width of the view
	*/
	@media only screen and (min-width: 506px) and (max-width: 705px){
		.row .sm_feature{
			width:50%;
		}
		.row .sm_circles{
			height:50px;
			width:50px;
		}
		.story_circles{
			margin-left: 40%;
		}
		.row .story_feature{
			width:100%;
		}
		.row .blogbox{
			width:100%;
		}
	}

	/* smallest screen size, align 
		story circles with their messages, and
		keep blog and story boxes at 100% width
	*/ 
	@media only screen and (max-width: 505px){

		.row .sm_feature{
			width:50%;
		}
		.row .sm_circles{
			height: 75px;
			width: 75px;
			margin-left:25px;
		}
		.story_circles{
			margin-left: 31%;
		}

		.row .story_feature{
			width:100%;
		}
		.row .blogbox{
			width:100%;
		}
	}


	/* we want to 'highlight' the circles on mouseover */	
	.story_circles:hover, .sm_circles a:hover{
		opacity:.5;
	}



	/* START: Carousel */

		/* test stuff for carousel */
		* {box-sizing:border-box}

		/* Slideshow container */
		.slideshow-container {
			position: relative;
		}

		/* Caption text */
		.text {
			color: #f2f2f2;
			font-size: 15px;
			padding: 8px 12px;
			position: absolute;
			bottom: 8px;
			width: 100%;
			text-align: center;
		}

		/* The dots/bullets/indicators */
		.dot {
			height: 13px;
			width: 13px;
			margin: 0 2px;
			background-color: #bbb;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
		}

		/* active dot color */
		.active {
			background-color: #717171;
		}

		/* Fading animation */
		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
		}

		.row .mySlideDots{
			text-align:center;
		}

		.row .mySlides{
			width: 100%;
		}

	/* END: Carousel */

	/* START: Featured Quote */

		#index-quote{
			text-align:center;
		}

	/* END: Featured Quote */

	/* START: Blog Previews; */

		.row .blogbox img{
			float:left; 
			clear:both; 
			margin: 0 10px 10px 10px;
		}

		.row .blogbox p{
			display:block; 
			margin-left: 5px; 
			text-align:left; 
			margin-top: -5px;
		}

	/* END: Blog Previews; */


/* END: index.html */



/* START: ideas.html */

	/* style for ideas.html project paragraphs*/
/*	.project p{
		width: 100%;
		margin: 0 25px 25px 25px;
	}*/

	/* style for ideas.html project headers */
/*	.project_header{
		text-align: left;
		margin: 0 0 0 15px;
	}*/

/*END: ideas.html */



/* START: blog.html */

/*	#blog_header{
		text-align: left;
	}*/

/* END: blog.html */



/* START: leadership.html */


	.leadership_circles{
		border-radius: 50%;

		width: 150px;
		height: 150px;

		background-color: lightblue;

	}

	/* leaders descriptions*/
/*	.leadership_articles{
		max-width: 960px;
		margin: 0 25px 0 25px;
		text-align: left;
	}*/

	/* row showcasing the leaders, two cols*/
/*	.leader_row{
		margin: 0 50px 0 50px;
	}*/

	/* side image for leadership initiatives */
/*	#side_image{
		float:center;
		margin-right:755px;
	}

	.side_box article{
		text-align: left;
	}*/	

/* END: leadership.html */




/* START: Footer;

	/* styling footer buttons/copyright text */
	.row button{
		margin: 40px;
	}

	/* declare footer size and color */
	footer .row{
		width: 100%;
		height: 120px;
	}

/* END: Footer; 